.Hero {
	height: 80vh;
	// background-image: url("https://images.pexels.com/photos/8102677/pexels-photo-8102677.jpeg");
	background-image: url("https://images.pexels.com/photos/8102675/pexels-photo-8102675.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	padding-inline: 5rem;
	text-align: center;
}

.Title {
	font-size: 72px;
	background: linear-gradient(to right, #ff6666, #ffcc00);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	line-height: 1.1;
	// text-shadow: -6px 2px 19px rgba(0, 0, 0, 0.3);
}

.Headline {
	font-size: 24px;
	// text-shadow: -6px 2px 19px rgba(0, 0, 0, 0.3);
}

.Button {
	background: linear-gradient(to right, #ff6666, #ffcc00);
	border: none;
	outline: none;
	border-radius: 50px;
	padding: 1rem 4rem;
	font-weight: bold;
	font-size: 20px;
}

.Features {
	padding-block: 5rem;
	background-color: #000;
	text-align: center;
	padding-inline: 5rem;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.Feature {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;

	& > img {
		height: 300px;
		// width: 100%;
	}
}
