.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	padding-inline: 10rem;
}

.name {
	background: linear-gradient(to right, #ff6666, #ffcc00);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	cursor: pointer;
	position: relative;
}

.name::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: -0.5rem;
	left: -0.5rem;
	bottom: -0.5rem;
	right: -0.5rem;
	border-radius: 10px;
	transition: background-color 0.3s ease-in-out;
}

.name:hover::before {
	background-color: rgb(53, 53, 53);
}
